
<div class="banner-home " style="background-image: url('<%= image_path 'happy.jpg' %>');">
  <div class="banner-content">
    <h1>Coach sportif personnel</h1>
    <hr>
    <h2>Le goût du sport ensemble</h2>
  </div>
</div>

<div class="text-center padded ">
  <h1>Qui suis-je ?</h1>
  <br>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-6 mov_left">
        <%= image_tag 'coachmike.png'%>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-6 text-left mov_right">
        <p>Passionné par le sport et dynamisé par les rapports humains, devenir coach sportif a été pour moi une évidence. Donner, recevoir et partager sont, au-delà des valeurs fondamentales de ma vie, le reflet de mon travail et de ce que nous vivrons ensemble durant les coachings. </p>
        <p>A domicile, en salle ou en extérieur, tous les terrains d'entraînement sont possibles pour atteindre ensemble vos objectifs. Soucieux de répondre parfaitement à vos attentes, je personnalise chacune de mes séances pour qu'elle ne ressemble qu'à vous.</p>
        <p>Installé près de Bordeaux, je vous propose mes services de la Métropole jusqu'au Bassin d'Arcachon, de manière individuelle et/ou collective, tant pour les adultes que pour les enfants et les adolescents. Je pratique également les coachings personnalisés à distance, via Internet.</p>
        <p>Ma formation, mon professionnalisme et mon énergie associés à votre motivation, votre volonté et votre implication seront les clés de votre réussite. Je m'y engage personnellement et vous attends dès à présent pour  vivre ensemble de beaux défis sportifs.</p>
      </div>
    </div>
  </div>
</div>


<div class="text-center wrapper-grey">
    <h1>Services</h1>
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-3 col-md-3 foo">
        <%= link_to pages_services_path do %>
        <%= image_tag 'Mike_emma.jpg', class:"image-circle"%>
        <% end %>
        <h3>Coaching personnel</h3>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 foo2">
        <%= link_to pages_services_path do %>
        <%= image_tag 'mikecoach06.jpg', class:"image-circle"%>
        <% end %>
        <h3>Coaching enfants-ados</h3>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 foo3">
        <%= link_to pages_services_path do %>
        <%= image_tag 'mikecoach01.jpg', class:"image-circle1" %>
        <% end %>
        <h3>Coaching à distance</h3>
      </div>
      <div class="col-xs-12 col-sm-3 col-md-3 foo4">
        <%= link_to pages_services_path do %>
        <%= image_tag 'mikecoach14.jpg', class:"image-circle"%>
        <% end %>
        <h3>Cross-training</h3>
      </div>
    </div>
  </div>
</div>

<div class="text-center wrapper-white">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-12 col-md-12 foo">
        <div class="text-center">
          <p>Chaque jour est une nouvelle chance.
            Le regard tourné vers l'avenir, oublions vos excuses et défions vos limites.
            Il n'y a pas de grandes ou de petites victoires, il n'en existe que des belles : les vôtres.</p>
        </div>
      </div>
      <div class=" text-right">
        <div class="col-xs-12 col-sm-12  col-md-12">
          <p class="toto">Mike Coach<p>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="banner_down" style="background-image: url('<%= image_path 'mountain-help-dpc.jpg'%>');">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-md-12 col-md-offset-0 foo">
        <h1>Votre coach sportif personnel</h1>
          <div class="list-inline ">
            <li class='text-center'><%= mail_to "mikecoachsportif@gmail.com" do %>
            <i class="fa fa-envelope" aria-hidden="true"></i>
            <% end %>
            <p>mikecoachsportif@gmail.com</p></li>
            <li class='text-center'><i class="fa fa-phone-square" aria-hidden="true"></i>
            <p class= "number">06 26 88 22 66</p></li>
          </div>
        </div>
          <!-- <div class="col-xs-12 col-md-3 col-md-offset-9 text-right foo ">
            <h4>l'homme qui déplace une montagne commence par déplacer des petites pierre</h4>
            <p class="text-right">Confucius</p>
          </div> -->
    </div>
  </div>
</div>
