<div class="banner" style="background-image: url('<%= image_path 'happy.jpg' %>');">
  <div class="banner-content">
    <h1>Services</h1>
    <br>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-2 col-md-3 foo">
          <span type="button"data-toggle="modal" data-target="#modal1">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Perte de poids</h4>
        </div>
          <%= render 'modal1Service'%>
        <div class="col-xs-12 col-sm-2 col-md-2 foo2">
          <span type="button"data-toggle="modal" data-target="#modal2">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Conseils nutrition / Rééquilibrage alimentaire</h4>
        </div>
          <%= render 'modal2Service' %>
        <div class="col-xs-12 col-sm-2 col-md-2 foo3">
          <span type="button"data-toggle="modal" data-target="#modal3">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Renforcement musculaire / tonification</h4>
        </div>
          <%= render 'modal3Service' %>
        <div class="col-xs-12 col-sm-2 col-md-2 foo4">
          <span type="button"data-toggle="modal" data-target="#modal4">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Prise de masse</h4>
        </div>
          <%= render 'modal4Service'%>
        <div class="col-xs-12 col-sm-2 col-md-3 foo4">
          <span type="button"data-toggle="modal" data-target="#modal5">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Préparation physique</h4>
        </div>
          <%= render 'modal5Service'%>
      </div>
    </div>
    <div class="container">
      <div class="row">
        <div class="col-xs-12 col-sm-3 col-md-3 foo">
          <span type="button"data-toggle="modal" data-target="#modal6">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Rééducation post-traumatique</h4>
        </div>
          <%= render 'modal6Service'%>
          <div class="col-xs-12 col-sm-3 col-md-3 foo2">
            <span type="button"data-toggle="modal" data-target="#modal7">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
            <h4>Circuit-training</h4>
          </div>
            <%= render 'modal7Service' %>
          <div class="col-xs-12 col-sm-3 col-md-3 foo3">
            <span type="button"data-toggle="modal" data-target="#modal8">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
            <h4>Coaching enfants-ados (8-16 ans)</h4>
          </div>
            <%= render 'modal8Service' %>
          <div class="col-xs-12 col-sm-3 col-md-3 foo4">
            <span type="button"data-toggle="modal" data-target="#modal9">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
            <h4>Coaching à Distances</h4>
          </div>
            <%= render'modal9Service'%>
        </div>
      </div>
    </div>
  </div>

  <div class="text-center wrapper-white">
    <div class="container">
    <div class="row">
      <!-- <div class="col-xs-12 col-sm-3 col-md-3 foo">
        <p>l'homme qui déplace une montagne commence par déplacer des petites pierre</p>
        <p class="text-right">Confucius</p>
      </div> -->
      <div class="col-xs-12 col-sm-12 col-md-12 foo">
        <div class="text-center">
          <p>Chaque jour est une nouvelle chance.
            Le regard tourné vers l'avenir, oublion vos excuses et défion vos limites.
            il n'y a pas de grande ou de petite victoire,il n'en existe que des belles: les votres.</p>
        </div>
      </div>
    </div>
    <div class="row text-right">
      <div class="col-xs-12 col-sm-12  col-md-12">
        <p class="toto">Mick coach<p>
      </div>
    </div>
    </div>
  </div>
