<!-- <div class="banner" style="background-image: url('<%= image_path 'happy.jpg' %>');">
  <div class="banner-content">
    <h1>Services</h1>
    <br>
    <div class="container text-center services">
      <div class="row">
        <div class="col-xs-12 col-sm-4 col-md-3 foo">
          <span type="button"data-toggle="modal" data-target="#modal1">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Perte de poids</h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2 foo2">
          <span type="button"data-toggle="modal" data-target="#modal2">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Conseils nutrition / Rééquilibrage alimentaire</h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2 foo3">
          <span type="button"data-toggle="modal" data-target="#modal3">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Renforcement musculaire / tonification</h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-2 foo4">
          <span type="button"data-toggle="modal" data-target="#modal4">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Prise de masse</h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 foo4">
          <span type="button"data-toggle="modal" data-target="#modal5">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Préparation physique</h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 foo">
          <span type="button"data-toggle="modal" data-target="#modal6">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Rééducation post-traumatique</h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 foo2">
          <span type="button"data-toggle="modal" data-target="#modal7">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Circuit-training</h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 foo3">
          <span type="button"data-toggle="modal" data-target="#modal8">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Coaching enfants-ados (8-16 ans)</h4>
        </div>
        <div class="col-xs-12 col-sm-4 col-md-3 foo4">
          <span type="button"data-toggle="modal" data-target="#modal9">  <%= image_tag 'imgres.jpg', class:"image-circle"%></span>
          <h4>Coaching à Distances</h4>
        </div>
        </div>
      </div>
    </div>
  </div>

   -->
<div class="wrapper-white">
  <h1 class='text-center'>Services</h1>
      <div class="padded_serv ">
        <div class="col-xs-12 col-sm-6 col-md-6">
          <%= image_tag 'mikecoach.jpg'%>
        </div>
        <div class="col-xs-12 col-sm-6 col-md-6">
          <h2>Perte de poids<h2>
          <p>Une fois n'est pas coutume, si vous voulez perdre du poids, le sport sera votre meilleur allié.
              Inutile de vous contraindre à des privations alimentaires excessives, il a déjà été prouvé trop souvent que le résultat de ces pratiques n'est que frustration et inefficacité sur le long terme. C'est pourquoi je vous propose un programme sportif 100% personnalisé, accompagné des conseils alimentaires nécessaires pour vous offrir des résultats durables et bien meilleurs pour votre santé.
              Au-delà de l'aspect sportif et nutritionnel, mon rôle sera aussi de vous accompagner et de vous motiver à chaque étape de votre parcours. Ainsi, pas à pas, nous ferons pencher ensemble la balance du bon côté : c'est en tout cas le défi que je vous invite à relever.
          </p>
        </div>
      </div>
      <div class="padded_serv ">
        <div class="col-sx-12 col-sm-6 col-md-6">
          <h2>Conseils en nutrition / Rééquilibrage alimentaire<h2>
          <p>Trouver un juste équilibre, prendre en masse musculaire, perdre quelques kilos superflus : tels sont les différents enjeux d'un rééquilibrage alimentaire.
          Pour cela, je mets mes connaissances à votre service pour vous conseiller sur votre alimentation quotidienne, l'objectif ici n'étant pas de vous faire manger moins mais au contraire de vous faire manger mieux.
          De manière générale, avoir une bonne hygiène de vie contribue à nous maintenir en bonne santé. Cela est d'autant plus vrai pour les personnes qui pratiquent une activité physique : il est alors indispensable de fournir à votre corps les bons aliments aux bons moments pour renouveler votre énergie et ne pas vous épuiser inutilement.
          </p>
        </div>
        <div class="col-sx-12 col-sm-6 col-md-6">
          <%= image_tag 'mikecoach02.jpg'%>
        </div>
      </div>
      <div class="padded_serv ">
        <div class="col-sx-12 col-sm-6 col-md-6">
          <%= image_tag 'mikecoach05.jpg'%>
        </div>
        <div class="col-sx-12 col-sm-6 col-md-6">
          <h2>Renforcement musculaire / tonification<h2>
          <p>Envie de tonifier votre corps, sculpter votre silhouette, perdre de la masse grasse : cette méthode est faite pour vous, le but étant de faire travailler l'ensemble de vos muscles en profondeur, sur une même séance d'entraînement.
           Au-delà de la motivation esthétique qui est souvent énoncée dans ce cadre-là, le renforcement musculaire permet également de prévenir certaines blessures ou traumatismes notamment par le gainage du corps, le renforcement des articulations, le gain cardio-vasculaire et l'augmentation de la force physique que cela induit.
           Parce que ce travail sur vous-même peut largement contribuer à votre bien-être quotidien et futur, je vous invite à vous laisser tenter : vous ne pourrez bientôt plus vous en passer.
          </p>
        </div>
      </div>
      <div class="padded_serv ">
        <div class="col-sx-12 col-sm-6 col-md-6">
          <h2>Prise de masse<h2>
          <p>Adepte de musculation ou complexé(e) par votre silhouette que vous jugez trop fine, vous souhaitez focaliser vos efforts sur la prise de masse et de volume. Pour cela, nous allons travailler ensemble autour de deux aspects fondamentaux : l'exécution d'exercices ciblés ET la manière de vous nourrir.
           En effet, avant de vous engager dans cette perspective, sachez que l'alimentation a un rôle très important pour accroître votre masse musculaire efficacement. Ainsi, il sera important de mettre en place un programme adapté à vos objectifs bien sûr, mais aussi à vous-même et à votre morphologie.
          </p>
        </div>
        <div class="col-sx-12 col-sm-6 col-md-6">
          <%= image_tag 'mikecoach.jpg'%>
        </div>
      </div>
      <div class="padded_serv ">
        <div class="col-sx-12 col-sm-6 col-md-6">
          <%= image_tag 'mikecoach03.jpg'%>
        </div>
        <div class="col-sx-12 col-sm-6 col-md-6">
          <h2>Préparation physique<h2>
          <p>Une compétition à venir, un défi sportif à relever, un objectif personnel à atteindre : il est indispensable de vous y préparer pour optimiser votre réussite. C’est en tout cas ce que je vous propose par des entraînements ciblés et un accompagnement 100% personnalisé.
             Investi sur un programme de plusieurs semaines, je m'engage à mettre mes compétences au service de vos ambitions. Ajoutées à cela votre motivation, votre volonté et votre assiduité dans le travail pour que notre collaboration soit le début de votre succès.
          </p>
        </div>
      </div>
      <div class="padded_serv ">
        <div class="col-sx-12 col-sm-6 col-md-6">
          <h2>Rééducation post-traumatique</h2>
          <p>Une opération, un accident, un choc, un traumatisme : vous vous retrouvez immobilisé(e) pendant une durée plus ou moins longue.
             Une fois votre guérison assurée, une reprise du sport en douceur est alors essentielle pour consolider votre état de santé et retrouver des sensations peut-être oubliées. C'est ici que j'interviens en vous proposant des exercices de base, simples et faciles à réaliser, qui évolueront au rythme de votre progression personnelle, sans jamais vous brusquer, mais précisément sélectionnés pour mettre en lumière l'étendue de vos capacités.
             (Pour votre sécurité, demandez l'avis de votre médecin avant de débuter la pratique d'une activité sportive)
          </p>
        </div>
        <div class="col-sx-12 col-sm-6 col-md-6">
          <%= image_tag 'mikecoach08.jpg'%>
        </div>
      </div>
      <div class="padded_serv ">
        <div class="col-sx-12 col-sm-6 col-md-6">
          <%= image_tag 'mikecoach06.jpg'%>
        </div>
        <div class="col-sx-12 col-sm-6 col-md-6">
          <h2>Coaching enfants-ados (8-16 ans)</h2>
          <p>Animateur sportif pendant 10 ans dans les écoles élémentaires, il était important pour moi d'intégrer à mes coachings des formules pour les enfants et les adolescents. La manière de travailler est, certes, un peu différente mais les objectifs sont souvent les mêmes que pour les adultes (perte de poids, tonification, rééducation post-traumatique...).
             Aussi, à l'âge où votre enfant se construit, il est parfois difficile pour lui de trouver sa place au sein d'un collectif et/ou d'éprouver du plaisir dans une activité spécifique. C'est ici que j'interviens en lui proposant des exercices ludiques et variés dans lesquels il pourra pleinement s'épanouir et trouver sa propre voie.
             Pour les adolescents, la puberté n'est pas toujours très bien vécue par certains(es) en raison des transformations physiques qu'elle génère. Il est alors bon d'avoir à ce moment-là un soutien extérieur, un accompagnement personnalisé, afin d'apprivoiser ce nouveau corps et se sentir, dès lors, mieux dans sa peau.
             Empli de passion pour ces jeunes gens, je mettrai tout mon cœur à l'ouvrage pour qu'ensemble nous menions à bien chacune de ces missions.
          </p>
        </div>
      </div>
      <div class="padded_serv ">
        <div class="col-sx-12 col-sm-6 col-md-6">
          <h2>Coaching à distance</h2>
          <p>Manque de temps, complexes, isolement géographique : vous avez envie de vous prendre en main mais cela vous paraît impossible. Il est temps pour vous de vous détendre et de me faire confiance.
             Je vous invite tout d'abord à me contacter par téléphone pour déterminer la nature de vos besoins. Ainsi, je pourrai rapidement vous faire parvenir par mail votre programme sportif détaillé comprenant les différents exercices à réaliser, les consignes d'exécution à respecter (placements, respiration, sécurité) ainsi que les conseils alimentaires susceptibles de vous aider.
             Afin de vous garantir un suivi personnalisé, des bilans réguliers vous seront proposés pour évaluer votre progression, vos points forts ainsi que les axes de travail à poursuivre et/ou à améliorer selon les objectifs que nous nous serons fixés.
          </p>
        </div>
        <div class="col-sx-12 col-sm-6 col-md-6">
          <%= image_tag 'mikecoach04.jpg'%>
        </div>
      </div>
      <div class="padded_serv ">
          <div class="col-sx-12 col-sm-6 col-md-6">
            <%= image_tag 'mikecoach.jpg'%>
          </div>
          <div class="col-sx-12 col-sm-6 col-md-6">
            <h2>Cross-training </h2>
            <p>Vous êtes timide, réservé(e). Vous voudriez bien faire du sport, mais vous êtes seul(e) et pas toujours très motivé(e). Pas de problème, j'ai la solution pour vous sortir du canapé.
               En semaine et le week-end, je vous propose de nous retrouver en petit comité, pour s’entraîner de manière ludique et variée, à travers des parcours sportifs fréquemment renouvelés. L'intérêt principal de ce concept relève de la mixité des activités qui sont proposées au cours d'une même séance (exemple : course à pied, pompes, tractions, abdominaux, corde à sauter).
               Les cross-training peuvent se pratiquer en intérieur (salle de sport), comme en extérieur (parcs) selon la météo et les envies du moment. Cette méthode est accessible à tous, elle permet d'améliorer considérablement votre condition physique générale tout en vous offrant de beaux moments d'entraide et de partage dans l'effort.
            </p>
          </div>
        </div>
      </div>
