<div class="wrapper-white">
<div class="container">
  <div class="row">
    <h1 class="text-center">Tarifs</h1>
    <section class="card-holder">
      <!-- Begin iOS -->
      <div class="col-md-4 col-sm-6">
        <div class="card-container manual-flip">
          <div class="card">
            <div class="front">
              <div class="cover">
                <%= image_tag 'coachmike2.png' %>
              </div>
              <div class="branded">
                <span class="fa fa-male"></span>
              </div>
              <div class="content ">
                <p class="text-center ">1 personne</p>
                <table class="table  table-condensed">
                  <tr>
                    <th>Séance</th>
                    <th>Tarif</th>
                  </tr>
                  <tr>
                    <td>3 / semaine</td>
                    <td>40 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>2 / semaine</td>
                    <td>45 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>1 / semaine</td>
                    <td>50 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>Séance de coaching 8/16 ans </td>
                    <td>30 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End-->
      <!-- Begin Card2 -->
      <div class="col-md-4 col-sm-6">
        <div class="card-container manual-flip">
          <div class="card">
            <div class="front">
              <div class="cover">
                <%= image_tag 'coachmike3.png' %>
              </div>
              <div class="branded">
                <span class="fa fa-male"></span>
                <span class="fa fa-male"></span>
              </div>
              <div class="content ">
                <p class="text-center ">2 personnes</p>
                <table class="table  table-condensed">
                  <tr>
                    <th>Séance</th>
                    <th>Tarif</th>
                  </tr>
                  <tr>
                    <td>3 / semaine</td>
                    <td>25 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>2 / semaine</td>
                    <td>28 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>1 / semaine</td>
                    <td>30 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End  -->
      <!-- Begin Card3 -->
      <div class="col-md-4 col-sm-6">
        <div class="card-container manual-flip">
          <div class="card">
            <div class="front">
              <div class="cover">
                <%= image_tag 'coachmike5.png' %>
              </div>
              <div class="branded">
                <span class="fa fa-male"></span>
                <span class="fa fa-male"></span>
                <span class="fa fa-male"></span>
              </div>
              <div class="content ">
                <p class="text-center ">3 personnes</p>
                <table class="table  table-condensed">
                  <tr>
                    <th>Séance</th>
                    <th>Tarif</th>
                  </tr>
                  <tr>
                    <td>3 / semaine</td>
                    <td>20 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>2 / semaine</td>
                    <td>23 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>1 / semaine</td>
                    <td>25 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <div class="col-md-4 col-sm-6">
        <div class="card-container manual-flip">
          <div class="card ">
            <div class="front">
              <div class="cover">
                <%= image_tag 'coachmike4.png' %>
              </div>
              <div class="branded">
                <span class="fa fa-male"></span>
                <span class="fa fa-male"></span>
                <span class="fa fa-male"></span>
                <span class="fa fa-male"></span>
              </div>
              <div class="content ">
                <p class="text-center ">4 personnes</p>
                <table class="table  table-condensed">
                  <tr>
                    <th>Séance</th>
                    <th>Tarif</th>
                  </tr>
                  <tr>
                    <td>3 / semaine</td>
                    <td>18 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>2 / semaine</td>
                    <td>20 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>1 / semaine</td>
                    <td>22 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <div class="col-md-4 col-sm-6">
        <div class="card-container manual-flip">
          <div class="card ">
            <div class="front">
              <div class="cover">
                <%= image_tag 'coachmike6.png' %>
              </div>
              <div class="branded">
                <span class="fa fa-id-card-o"></span>
              </div>
              <div class="content ">
                <p class="text-center ">Cartes Cross Training</p>
                <table class="table  table-condensed">
                  <tr>
                    <th>Séance</th>
                    <th>Tarif</th>
                  </tr>
                  <tr>
                    <td>10</td>
                    <td>80 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>5</td>
                    <td>50 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>12 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

      <div class="col-md-4 col-sm-6">
        <div class="card-container manual-flip">
          <div class="card">
            <div class="front">
              <div class="cover">
                <%= image_tag 'coachmike7.png' %>
              </div>
              <div class="branded">
                <span class="fa fa-laptop"></span>
              </div>
              <div class="content">
                <p class="text-center ">Coaching à distance</p>
                <table class="table  table-condensed">
                  <tr>
                    <th>Mois</th>
                    <th>Tarif</th>
                  </tr>
                  <tr>
                    <td>1</td>
                    <td>80 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>3</td>
                    <td>75 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>6</td>
                    <td>70 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                  <tr>
                    <td>12</td>
                    <td>60 <i class="fa fa-eur" aria-hidden="true"></i></td>
                  </tr>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- End -->

    </section>
  </div>
</div>
</div>
