<!DOCTYPE html>
<html>
  <head>
    <title>Coach Mike</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
  </head>

  <body>
    <%= render 'shared/navbar'%>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>
</html>
