<!DOCTYPE html>
<html>
  <head>
    <!--favicon -->
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- end -->
    <title>MikeCoach</title>
    <%= csrf_meta_tags %>
    <!-- google referencement -->
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <title>Mike Coach : Votre coach sportif personnel à Bordeaux </title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="copyright" content=">Mike Coach© 2016 Tout droit réservé"/>
    <meta name="description" content="Perte de poids, Conseils en nutrition / Rééquilibrage alimentaire, Renforcement musculaire / tonification,Prise de masse
    ,Préparation physique,Rééducation post-traumatique,Coaching enfants-ados (8-16 ans),Coaching à distance,Cross-training"/>
    <meta name="keywords" content="coach, bordeaux, coaching personnel, sport" />
    <meta name="robots" content="index,follow"/>
    <meta name="DC.title" content="MikeCoach" />
    <!-- end -->

    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
    <!-- google-analytics -->
    <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-89537772-1', 'auto');
    ga('send', 'pageview');
    </script>

    <!-- facebook pub -->
    <meta property="og:url"                content="http://mikecoach.fr/" />
    <meta property="og:type"               content="Website" />
    <meta property="og:title"              content="Mike Coach : Votre coach sportif personnel à Bordeaux " />
    <meta property="og:description"        content="Perte de poids, Conseils en nutrition / Rééquilibrage alimentaire, Renforcement musculaire / tonification,Prise de masse
                                                    ,Préparation physique,Rééducation post-traumatique,Coaching enfants-ados (8-16 ans),Coaching à distance,Cross-training" />
    <meta property="og:image"              content="mikecoach09" />

  </head>

  <body>
    <%= render 'shared/navbar'%>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

</html>
