<!DOCTYPE html>
<html>
  <head>
    <!--favicon -->
    <%= favicon_link_tag 'favicon.ico' %>
    <!-- end -->
    <title>MikeCoach</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://unpkg.com/scrollreveal@3.3.2/dist/scrollreveal.min.js"></script>
  </head>

  <body>
    <%= render 'shared/navbar'%>
    <%= yield %>
    <%= render 'layouts/footer' %>
  </body>

</html>
